body{
    margin: 0;
    padding: 0;
}
.menusaya{
    height: 100px;
    width: 100%;
    background: #6e4b4b;
    float: left;
}
.menusaya > ul > li{
    float: left;
    margin: 10px;
    list-style: none;
    
}
.menusaya > ul > li > a{
   color: black;
   text-decoration: none;
    
}
.foto{
    height: 500px;
    width: 100%;
    float: left;
}
.video{
    height: 500px;
    width: 25%;
    background: red;
    float: left;
}

.konten{
    height: 500px;
    width: 50%;
    background: green;
    float: left;
}
.footer{
    height: 100px;
    width: 100%;
    background: #6e4b4b;
    float: left;
}
.nama{
    margin: 100px;
}
.fotoSaya{
    width: 100%;
    height: 250px;
}

.videoSaya{
    width: 100%;
    height: 395px;
    float: left;
}
.videoSaya1{
    width: 100%;
    height: 200px;
}
.foto2{
    height: 500px;
    width: 25%;
    background: hsl(253, 45%, 64%);
    float: left;
}

.kotak1{
    height: 500px;
    width: 32%;
    background: hsl(171, 85%, 19%);
    float: left;
}

.kotak2{
    height: 500px;
    width: 32%;
    background: hsl(68, 84%, 23%);
    float: left;
}
.kotak3{
    height: 500px;
    width: 32%;
    background: hsl(68, 84%, 23%);
    float: left;
}